# This is a basic workflow to help you get started with Actions

name: Setting Env

# Controls when the workflow will run
on: push

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  settingEnv:
    name: setting env
    runs-on: ubuntu-latest
    env:
      LHCI_PEPORT_LINK: 'default link'
    steps:
      - uses: actions/checkout@v2
      - name: Print env value
        run: |
          echo "---log LHCI_PEPORT_LINK: ${{ env.LHCI_PEPORT_LINK }}"
        
        # uasage reference: https://docs.github.com/en/actions/learn-github-actions/workflow-commands-for-github-actions#multiline-strings
      - name: Set env value from Json file value
        run: |
          echo 'LHCI_PEPORT_LINK<<EOF' >> $GITHUB_ENV
          jq '.["http://localhost:8080/"]' .lighthouse/links.json --raw-output >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
      
      - name: Print env value again
        run: |
          echo "---log LHCI_LINKS: ${{ env.LHCI_LINKS }}"
  
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: report-h2-website
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
          SLACK_MESSAGE: ":rocket: Report Link: ${{ env.LHCI_PEPORT_LINK }}"
          SLACK_TITLE: Lighthouse Report
          SLACK_USERNAME: Github-Actions-CI
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        
